<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="row main-section">
            <div class="col-4">
              <div class="row">
                <div class="col-12">
                  <app-email-list [emails]="request.EmailList" (emailList)="onEmailsChanged($event)"></app-email-list>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <app-time-list [times]="request.TimeList" (timeList)="onTimesChanged($event)"></app-time-list>
                </div>
              </div>
            </div>
            <div class="col-8">
                  <div class="row">
                      <div class="col-12">
                          <label for="text">Text:</label>
                          <textarea name="text"  [(ngModel)]="request.Text" required>
                          </textarea>
                      </div>
                  </div>
                <div class="row">
                    <div class="col-10">
                        <label for="repeatCount">Repeat count: </label>
                        <input type="number" name="repeatCount"  [(ngModel)]="request.RepeatCount" required>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-success" type="button" (click)="onSave()">Save</button>
                    </div>
                </div>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  
